:root {
  --black-bkg: #222222;
  --pink-bkg: #f1e4e6;
  --pink-color: #f18b99;
  --sales-bkg: #4e4544;
  --product-bkg: #f8f8f8;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  font-weight: 400;
}
.button__new {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

input {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
.header {
  background-color: var(--black-bkg);
}

.container {
  width: 1140px;
  margin: 0 auto;
}
.header__menu-right {
  float: right;
}
.header__menu-left {
  float: left;
}
.header__wrp {
  display: flex;
  align-items: center;
  min-height: 75px;
  justify-content: space-between;
}

.header__menu-list {
  display: flex;
  float: right;
}

.header__burger-icon {
  border: none;
  background-color: transparent;
}
.icon__size {
  height: 20px;
}
.header__logo {
  margin: 0 41px 0 0;
}

.header-link {
  margin: 0 0 0 33px;
}

.brand {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  margin-bottom: 65px;
}

.brand__title-wrp {
  flex-grow: 1;
  background-color: var(--pink-bkg);
  padding: 0 0 0 90px;
  display: flex;
  align-items: center;
  grid-column-start: 3;
}
.brand__grid-container-last {
  grid-column-start: 4;
  background-color: var(--pink-bkg);
}

.brand__img {
  grid-column-start: 2;
  width: 800px;
  height: 765px;
}

.brand__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
}

.brand__title-lower {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  display: block;
}

.brand__title-pink {
  color: var(--pink-color);
}
.sales {
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.sales__item-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sales__title {
  font-weight: 600;
  font-size: 24px;
  color: #f16d7f;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 50px;
}
.sales__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
}
.sales__list-accesories {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-bottom: 100px;
}
.sales__item {
  height: 260px;
  width: 360px;
  background-color: var(--sales-bkg);
  margin: 15px;
}

.sales__item--women {
  background-image: url(../img/main-photo-1.jpg);
  grid-column-start: 2;
  position: relative;
}

.sales__item--men {
  background-image: url(../img/main-photo-2.jpg);
  grid-column-start: 3;
  position: relative;
}

.sales__item--kids {
  background-image: url(../img/main-photo-3.jpg);
  grid-column-start: 4;
  position: relative;
}
.sales__item--shoes {
  background-image: url(../img/main-photo-final.jpg);
  height: 180px;
  width: 1140px;
  grid-column-start: 2s;
  position: relative;
}
.products__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}
.products__item {
  margin: 15px;
  background-color: #f8f8f8;
}

.products__title {
  font-size: 30px;
  text-align: center;
  margin: 0 0 10px 0;
}
.products__sub-title {
  font-size: 14px;
  color: #9f9f9f;
  text-align: center;
  margin: 0 0 48px 0;
}
.products__item-hover {
  position: relative;
}

.products__item-img-button {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
.products__item-overlay {
  position: relative;
}

.button-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.products__item-overlay:before {
  content: "";
  width: 100%;
  min-height: 420px;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  opacity: 1;
}

.products__item-img-button {
  display: none;
  border: none;
  color: white;
  padding: 15px 10px 0 10px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid white;
}
.products__item-img-icon {
  background: url(../img/cart-hover-button.svg) no-repeat;
  float: left;
  height: 24px;
  padding: 10px 30px 0 10px;
}

.products__item-overlay:before {
  opacity: 0;
}

.products__item:hover .products__item-img-button,
.products__item:hover .products__item-overlay:before {
  opacity: 1;
  transition: 0.6s;
  display: block;
}

.products__item-title {
  font-size: 13px;
  text-transform: uppercase;
  margin: 25px 0 12px 17px;
}
.products__item-text {
  font-weight: 300;
  color: #9f9f9f;
  margin: 12px 0 10px 17px;
}
.products__item-price {
  font-weight: 500;
  font-size: 16px;
  color: #f16d7f;
  margin: 18px 0 10px 17px;
}
.info {
  background-color: var(--black-bkg);
}
.info__list-wrp {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}
.info__list-img {
  padding: 0 0 30px 0;
}
.info__list {
  padding: 85px 0 85px 0;
  margin: 15px;
  text-align: center;
}
.info__list-title {
  text-align: center;
  font-size: 20px;
  color: #fbfbfb;
  padding: 0 0 15px 0;
}
.info__list-text {
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  color: #fbfbfb;
}
.browse__wrp {
  justify-content: center;
  text-align: center;
}
.browse__button {
  margin: 50px 0 100px 0;
}

.browse__button:hover .browse__button-title {
  background-color: #f26376;
  color: white;
  transition: 0.4s;
}
.browse__button-title {
  font-size: 16px;
  color: #f26376;
  font-weight: 500;
  padding: 14px 40px 14px 40px;
  border: 1px solid #ff6a6a;
}
.subscribe {
  min-height: 448px;
  background-image: url(../img/subscribe-bkg.jpg);
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: center;
  height: 450px;
  position: relative;
}
.subscribe__wrp-list {
  display: grid;
  grid-template-columns: 1fr 5fr 5fr 1fr;
}
.subscribe__feedback {
  text-align: center;
  grid-column-start: 2;
  padding-top: 150px;
}
.subscribe__feedback-text {
  padding: 0 100px 0 100px;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  color: #222224;
}
.subscribe__feedback-img {
  padding: 0 0 20px 0;
}
.subscribe__form {
  text-align: center;
  grid-column-start: 3;
  padding-top: 150px;
}
.subscribe__form-title {
  font-weight: 700;
  font-size: 24px;
}
.subscribe__form-text {
  padding-top: 20px;
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 17px;
}
.subscribe__form-input {
  height: 10px;
  width: 250px;
  background-color: #e1e1e1;
  border-radius: 50px 0 0 50px;
  padding: 20px;
  color: #5f5f5f;
}
.subscribe__form-submit {
  height: 50px;
  width: 100px;
  background-color: #f16d7f;
  border-radius: 0 50px 50px 0;
  margin-left: -5px;
  color: white;
  font-size: 14px;
}
.copyright {
  background-color: var(--black-bkg);
  height: 80px;
}
.copyright__wrp-list {
  display: flex;
  align-items: center;
  min-height: 75px;
  justify-content: space-between;
}
.copyright__wrp-c {
  float: left;
  font-weight: 400;
  font-size: 16px;
  color: #fbfbfb;
}
.copyright__wrp-list {
  display: block;
}
.copyright__wrp-social {
  float: right;
  margin-top: -50px;
}
.copyright__wrp-c-text {
  color: white;
  margin-top: 30px;
}
