.products__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
  }
  .products__item {
    margin: 15px;
    background-color: #f8f8f8;
  }
  
  .products__title {
    font-size: 30px;
    text-align: center;
    margin: 0 0 10px 0;
  }
  .products__sub-title {
    font-size: 14px;
    color: #9f9f9f;
    text-align: center;
    margin: 0 0 48px 0;
  }
  .products__item-hover {
    position: relative;
  }
  
  .products__item-img-button {
    position: absolute;
    top: 50%;
    left: 50%;
  
    transform: translate(-50%, -50%);
  }
  .products__item-overlay {
    position: relative;
  }
  
  
  .products__item-overlay:before {
    content: "";
    width: 100%;
    min-height: 420px;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    opacity: 1;
  }
  
  .products__item-img-button {
    display: none;
    border: none;
    color: white;
    padding: 15px 10px 0 10px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid white;
  }
  .products__item-img-icon {
    background: url(../img/cart-hover-button.svg) no-repeat;
    float: left;
    height: 24px;
    padding: 10px 30px 0 10px;
  }
  
  .products__item-overlay:before {
    opacity: 0;
  }
  
  .products__item:hover .products__item-img-button,
  .products__item:hover .products__item-overlay:before {
    opacity: 1;
    transition: 0.6s;
    display: block;
    cursor: pointer; 
  }

  .products__item:active .products__item-img-button,
  .products__item:active .products__item-overlay:before {
    opacity: 1;
    transition: 0.6s;
    display: block;
  }
  
  .products__item-title {
    font-size: 13px;
    text-transform: uppercase;
    margin: 25px 0 12px 17px;
  }
  .products__item-text {
    font-weight: 300;
    color: #9f9f9f;
    margin: 12px 0 10px 17px;
  }
  .products__item-price {
    font-weight: 500;
    font-size: 16px;
    color: #f16d7f;
    margin: 18px 0 10px 17px;
  }
  @media (max-width: $mobile-width) {
    .products__list {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      justify-content: center;
    }
    .products__item-img-button {
      padding: 15px 10px 0 10px;
      margin-left: 15px;
    }
  }
